@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700"); //Import font into css
body, html{
    font-family: 'Montserrat';
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
//@bachh.thai
//decoration navigation bar
header{
    color: #FFC400;
    position: sticky;
    top: 0;
    background-color: #fff;
}
nav{
    min-height: 10vh;
    margin: auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav h1,
nav ul{
    font-size: 1,5rem;
    flex: 1;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;   
}
nav a{
    color: #FFC400;
    text-decoration: none;
    font-weight: bold;
}
//end off deco nav bar :P
//make a main section :)) 
section {
    min-height: 100vh;
    display: flex;
    justify-content: center; //haha 
    align-items: flex-start; //tam the xoa sau hihi
}
section h2{ /// tam cai nay xiu xoa
    font-size: 1,5rem;
    color: #FFC400;
}
.Home {
    background: #E5E5E5; //temp
}
.Education {
    background: #FFD400; //temp
}
.Experience {
    background: #FFE400; //temp
}
.Knowledge {
    background: #FFF400; //temp
}
.Social {
    background: #FFB400; //temp
}
.Contact {
    background: #FFA400; //temp
}
.bubble{
    position: absolute;
    z-index: -2;
    background: #000;
}
.portrait {
    position: absolute;
    right: 50%px;
    width: 30%;
    padding-top: 10%;
    padding-left: 55%;
    animation: portrait 0.5s ease;
}
.home-make-name{
    position: absolute;
    left: 18%;
    top:50%;
    h1{
        font-size: 2.5em;
        color: #000;
        animation:  textanimation 1s ease-in-out;
        font-weight: bold;
        transform-origin: left;

        &::before {
            content: " ";
            width: 90%;
            border-bottom: 7px solid #FFC400;
            display: block;
            animation: block-d 1s ease-in-out;
            transform-origin: right;
        }

    }
}
.title-undername{
    h1 {
        position: absolute;
        left: 18%;
        top: 59%;
        font-size: 0.9em;
        color: #000;
        animation:  textanimation 4s ease-in-out;
    }
}

@keyframes textanimation {

    0% { opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -300, 0, 0, 1); }
    4.1% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -125.912, 0, 0, 1); }
    8.11% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -31.647, 0, 0, 1); }
    12.11% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 5.53, 0, 0, 1); }
    16.12% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 13.007, 0, 0, 1); }
    27.23% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 2.352, 0, 0, 1); }
    38.34% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.311, 0, 0, 1); }
    60.56% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.007, 0, 0, 1); }
    82.78% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    100% { opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } 
  
}
@keyframes block-d {
    from{
        transform: scaleX(0);
    }
    to{
        transform: scaleX(1);
    }
}
.itemportrait-1{
    position: absolute;
    width: 12%;
    top: 30%;
    left: 78%;
    animation: roll 9s ease;
}
@keyframes roll {
    from{
        transform: rotateZ(0deg);
    }
    to{
        transform: rotateZ(360deg);
    }
}

.itemportrait-2{
    position: absolute;
    width: 20%;
    top: 40%;
    left: 59%;
    animation: roll 9s ease;
}
@keyframes roll {
    from{
        transform: rotateZ(0deg);
    }
    to{
        transform: rotateZ(360deg);
    }
}
@keyframes portrait{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}