@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700"); //Import font into css
body, html{
    font-family: 'Montserrat';
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
//decoration navigation bar
header{
    color: #FFC400;
    position: sticky;
    top: 0;
    background-color: #fff;
}
nav{
    min-height: 10vh;
    margin: auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav h1,
nav ul{
    font-size: 1,5rem;
    flex: 1;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;   
}
nav a{
    color: #FFC400;
    text-decoration: none;
    font-weight: bold;
}
//end off deco nav bar :P
//make a main section :)) 
section {
    min-height: 100vh;
    display: flex;
    justify-content: center; //haha 
    align-items: flex-start; //tam the xoa sau hihi
}
section h2{ /// tam cai nay xiu xoa
    font-size: 1,5rem;
    color: #FFC400;
}
.Home {
    background: #E5E5E5; //temp
}
.Education {
    background: #FFD400; //temp
}
.Experience {
    background: #FFE400; //temp
}
.Knowledge {
    background: #FFF400; //temp
}
.Social {
    background: #FFB400; //temp
}
.Contact {
    background: #FFA400; //temp
}
.bubble{
    position: absolute;
    z-index: -2;
    background: #000;
}
.portrait {
    position: absolute;
    right: 50%px;
    width: 30%;
    padding-top: 10%;
    padding-left: 55%;
}
.home-make-name{
    position: absolute;
    h1{
        font-size: 3em;
        margin-top: 90%;
        color: #000;
        animation:  textanimation 1s ease-in-out;
        font-weight: bold;
        transform-origin: left;

        &::before {
            content: " ";
            width: 90%;
            border-bottom: 7px solid #FFC400;
            display: block;
            animation: block-d 1s ease-in-out;
            transform-origin: right;
        }

    }
}
